	<div class="jumbotron">
	  <div class="container text-center">
	    <h1>Bright Ideas</h1>

	  </div>
  </div>
  <div class="text-center">
  <a *ngIf="!!authService.isAuthenticated" [routerLink]="['/home']"> Enter Application</a>
  <a id="login" [routerLink]="['/login']">Login</a>
  </div>

	<div class="container-fluid bg-3 text-center">
	  <div class="tagline-text h3">
		  <p>What will we</p>
		  <p>
		    <span class="word-scroll wisteria">fix?</span>
		    <span class="word-scroll belize">improve?</span>
		    <span class="word-scroll pomegranate">create?</span>
		    <span class="word-scroll green">solve?</span>
		    <span class="word-scroll midnight">enhance?</span>
		  </p>
	  </div><br>
	  <div class="row">
	    <div class="col-sm-3">
	      <p>Live Plants for the breakroom</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	    <div class="col-sm-3">
	      <p>Fix an Outlet</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	    <div class="col-sm-3">
	      <p>Add Banking Services to USPS</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	    <div class="col-sm-3">
	      <p>Build an Opensource Skills Database App</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	  </div>
	</div><br>

	<div class="container-fluid bg-3 text-center">
	  <div class="row">
	    <div class="col-sm-3">
	      <p>Recreate the Titanic in Unreal 4</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	    <div class="col-sm-3">
	      <p>Install a Local WiFi Network</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	    <div class="col-sm-3">
	      <p>Build a Street Sign</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	    <div class="col-sm-3">
	      <p>Host a Class on Technology</p>
	      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
	    </div>
	  </div>
	</div><br><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

