# Eclipse
.classpath
.project
.settings/

# Che
.theia-workspace
.theia

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.mvn/

#Spring
.sts4-cache/

# Node and Angular
node/
node_modules/
bin/