<h1 mat-dialog-title>Create User</h1>
<div mat-dialog-content>
  <label for="firstName">First Name
      <mat-form-field>
        <input matInput type="text" id="firstName" [(ngModel)]="user.firstName">
      </mat-form-field>
    </label>
   <label for="lastName">Last Name
     <mat-form-field>
       <input matInput type="text" id= "lastName" [(ngModel)]="user.lastName">
      </mat-form-field>
   </label>
   <label for="email">Email
     <mat-form-field>
      <input matInput type="text" id="email" [(ngModel)]="user.email">
     </mat-form-field>
   </label>
   <label for="password">Password
     <mat-form-field>
       <input matInput type="text" id="password" [(ngModel)]="user.password">
      </mat-form-field>
   </label>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="submitForm(user)" cdkFocusInitial>Ok</button>
</div>
