

<app-user-banner [user]="user"></app-user-banner>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
      >
    {{link.label}}
  </a>
</nav>

<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="35" class="sec1" fxFlex.xs="15">
			first-section
		</div>
		<div fxFlex="65" class="sec3" fxFlex.xs="55">
			second-section
		</div>

	</div>

</div>


<router-outlet></router-outlet>





