<mat-toolbar>User Ideas
  <span class="fill-remaining-space"></span>
    <mat-button-toggle-group name="listStyle" aria-label="List Style">
      <mat-button-toggle value="list"><mat-icon>view_list</mat-icon></mat-button-toggle>
      <mat-button-toggle value="grid"><mat-icon>view_module</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <div class="ideas-container">
    <div class="list-container">
      <mat-list>
          <h3 mat-subheader>Folders</h3>
          <mat-list-item *ngFor="let idea of ideas">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{idea.title}}</h4>
            <p mat-line> {{idea.subtitle}} </p>
          </mat-list-item>
      </mat-list>
  </div><!--list-container-->
    <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile *ngFor="let idea of ideas">
              <mat-card class="dashboard-card">
                  <mat-card-header>
                    <mat-card-title>
                      {{idea.title}}
                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>Expand</button>
                        <button mat-menu-item>Remove</button>
                      </mat-menu>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    <mat-card-subtitle>{{idea.subtitle}}</mat-card-subtitle>
                    <img href="idea.thumbnailUrl">
                    <p>{{idea.story}}/p>
                  </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div><!-- grid-container -->
  </div><!-- ideas-container -->
