
<mat-card>
<mat-card-title-group>
  <mat-card-title>Idea Task</mat-card-title>
  <button matTooltip="The User Activity is a component banner which indicates the most recent activity that the user was doing, and guides them to begin work again, on that topic or idea.
  I got this idea from Khan Academy, which struggles to 'nudge' stubbon students to get back into studying."
  matTooltipClass="example-tooltip-class"
  aria-label="Button that shows a tooltip">
    <mat-icon color="accent">info</mat-icon>
  </button>
  <mat-card-subtitle>
    Strengthen the visual impact of your idea!(task.groupDescription) Add 3(task.groupCompletionCounter) more activity images to Breakroom Plants(idea.title)
  </mat-card-subtitle>
</mat-card-title-group>

   <mat-card-actions>
      <button mat-raised-button color="primary" >Resume</button>
   </mat-card-actions>
</mat-card>
