<h1 mat-dialog-title>Create Idea</h1>
<div mat-dialog-content>
  <label for="title">Title
      <mat-form-field>
        <input matInput type="text" id="title" [(ngModel)]="idea.title">
      </mat-form-field>
    </label>
   <label for="subtitle">Subtitle
     <mat-form-field>
       <input matInput type="text" id="subtitle" [(ngModel)]="idea.subtitle">
      </mat-form-field>
   </label>
   <label for="story">Story
     <mat-form-field>
      <input matInput type="text" id="story" [(ngModel)]="idea.story">
     </mat-form-field>
   </label>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="submitForm(idea)" cdkFocusInitial>Ok</button>
</div>
